<!--The content below is only a placeholder and can be replaced.-->

<mat-card>
    <mat-card-header>
        <h1>US and Canada cities</h1>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
            <p>Search for a city</p>
            <input matInput (keyup)="searchTermChanged($event)" (input)="searchTerm = $event.target.value" [value]="searchTerm" type="text"/>
        </mat-form-field>
        <mat-checkbox class="example-margin" [(ngModel)]="isLocationActivated" (ngModelChange)="activateLocation($event)">Use my current location</mat-checkbox>
    </mat-card-content>
</mat-card>

<div class="result">
    <mat-grid-list cols="6" rowHeight="50px">
        <mat-grid-tile *ngFor="let city of cities"
        [colspan]="1" 
        [rowspan]="1">
        {{city.name}}
    </mat-grid-tile>
</mat-grid-list>
</div>